
* {
    background:                  rgba(16, 20, 23, 0.8);
    background-alt:              #41484d;
    foreground:                  #dfe3e7;
    selected:                    #92cdf6;
    active:                      #92cdf6;
    urgent:                      #ffb4ab;
}
