@import "styles/buttons.css";
@import "colors/colors.css";

* {
  background-image: none;
  box-shadow: none;
}

window {
  font-size: 1.2em;
  color: @fg1;
  background-color: alpha(@bg1, 0.8);
}

button {
  border-radius: 36px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  margin: 10px;
  box-shadow: 0 0 10px 2px transparent;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.15, 0, 0.1, 1);
}

button:focus {
  box-shadow: none;
  outline-style: none;
  background-size: 20%;
}

button:hover {
  background-size: 35%;
  outline-style: none;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
  background-color: @green;
  color: transparent;
}
